@import url('http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext');

@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
  background: transparent linear-gradient(141deg, #EBF4FF 0%, #E6FFFA 100%) 0% 0% no-repeat padding-box;
}
.top-header {
  height:67px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 0px 0px 12px 12px;
  opacity: 1;
}
.ht1{
  text-align: center;
  font: normal normal medium 42px/50px Lato;
  letter-spacing: 1.26px;
  color: #2D3748;
}
.bg-middle-header{
  background: transparent url('~assets/images/undraw_agreement_aajr.svg') 0% 0% no-repeat padding-box;
}
.bottom-header{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px -1px 3px #00000033;
  border-radius: 12px 12px 0px 0px;
  opacity: 1;
}
.blue-bar{
  height: 5px;
  background: transparent linear-gradient(91deg, #319795 0%, #3182CE 100%) 0% 0% no-repeat padding-box;
}
.btn-test-1{
  background: transparent linear-gradient(95deg, #319795 0%, #3182CE 100%) 0% 0% no-repeat padding-box;
  /* border-radius: 12px; */
  text-align: center;
  font: normal normal 600 14px/17px Lato;
  letter-spacing: 0.84px;
  color: #E6FFFA;
  width: 70%;
}
.btn-menu:hover {
/* .btn-menu-active { */
  background: #81E6D9 0% 0% no-repeat padding-box;
  color: #E6FFFA;
}
.btn-menu + .nuxt-link-exact-active{
/* .btn-menu-active { */
  background: #81E6D9 0% 0% no-repeat padding-box;
  color: #E6FFFA;
}
.btn-menu:focus {
/* .btn-menu-active { */
  background: #81E6D9 0% 0% no-repeat padding-box;
  color: #E6FFFA;
}

.btn-menu {
  text-align: center;
  font: normal normal bold 14px/17px Lato;
  letter-spacing: 0.84px;
  color: #319795;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #CBD5E0;
  padding: 5px 2px;
}

.step-1-number{
  text-align: center;
  font: normal normal normal 130px/156px Lato;
  letter-spacing: 0px;
  color: #718096;
  width: 106px;
  height: 156px;
  top: 2rem;
}
.step-1-ellipse{
  background: #F7FAFC 0% 0% no-repeat padding-box;
  width: 208px;
  height: 208px;
  opacity: 0.5;
  clip-path: ellipse(48% 50% at 4rem );
  top:2rem;

}
.step-1-title{
  letter-spacing: 0.47px;
  color: #718096;
  top: 8.7rem;
  left: 8rem;
}

.step-1-image{
  left: 4.2rem;
  top: -1.5rem;
}
.step-2-image{
  right: 4.2rem;
  top: 11.5rem;
}

.step-2-bg {
  background: transparent linear-gradient(134deg, #E6FFFA 0%, #EBF4FF 100%) 0% 0% no-repeat padding-box;
  width: 100%;
  height: 22rem;
}
svg path {
 fill: white;
}

svg rect {
 fill: url(#Gradient1) ;
}
.wave-top{
  --divider-height:4rem;
  position: relative;
  top: calc( var(--divider-height)/2 * -1 );
  height: var(--divider-height);
  width: 100%;
  /* alternatively, could get rid of the rect, and move the svg container further down */
  float: left;
  z-index: 1;
}

.step-3-number{
  text-align: center;
  font: normal normal normal 130px/156px Lato;
  letter-spacing: 0px;
  color: #718096;
  width: 106px;
  height: 156px;
  top: 2rem;
}

.step-3-ellipse{
  background: #F7FAFC 0% 0% no-repeat padding-box;
  width: 304px;
  height: 343px;
  opacity: 0.5;
  -webkit-clip-path: ellipse(60% 60% at 5rem );
  clip-path: ellipse(55% 53% at 6.5rem 10rem );
}

.step-3-image {
  right: 0.2rem;
  top: 9.5rem;
}
