<template>
  <div class="container mx-auto">
    <div class="header">
      <div class="top-header">
        <div class="blue-bar"></div>
        <div class="flex flex-row-reverse items-center">
          <div class="m-4">Login</div>
        </div>
      </div>
      <div class="middle-header">
        <h1 class="ht1 text-4xl m-5">Deine Job website</h1>
        <div class="">
          <img
            class="mt-2 mb-2 ml-auto mr-auto"
            src="~assets/images/undraw_agreement_aajr.svg"
          />
        </div>
      </div>
    </div>
    <div class="bottom-header pt-2 pb-5">
      <button
        class="
          btn-test-1
          block
          rounded-lg
          pr-8
          pl-8
          pt-2
          pb-2
          <!--
          mt-2
          mb-2
          -->
          ml-auto
          mr-auto
        "
      >
        Kostenlos Registrieren
      </button>
    </div>
    <div class="menu ml-1 mr-1 mt-2 mb-2 grid gap-0 grid-cols-3 grid-rows-3">
      <NuxtLink class="btn-menu rounded-l-lg" to="/">Arbeitnehmer </NuxtLink>

      <NuxtLink class="btn-menu" to="/index-2">Arbeitgeber</NuxtLink>

      <NuxtLink class="btn-menu rounded-r-lg" to="/index-3"
        >Temporärbüro</NuxtLink
      >
    </div>
    <div class="main2">
      <nuxt />
    </div>
  </div>
</template>
<script lang="ts">
import Vue from "vue";

export default Vue.extend({});
</script>
