<template>
  <div>
    <div
      class="text-xl text-center p-3 ml-3 mr-3 mt-2 mb-2"
      style="font: normal normal medium 21px/25px Lato; color: #4a5568"
    >
      Drei einfache Schritte zu deinem neuen Mitarbeiter
    </div>
    <div class="flex flex-col">
      <div class="relative">
        <div class="absolute step-1-number z-40" style="">1.</div>
        <div class="absolute step-1-ellipse z-30"></div>
        <img
          class="absolute z-50 step-1-image"
          src="~assets/images/undraw_Profile_data_re_v81r.svg"
        />
        <div class="absolute step-1-title text-lg z-50">
          Erstellen dein Unternehmensprofil
        </div>
      </div>

      <div class="relative mt-48">
        <div class="absolute step-1-number z-50" style="">2.</div>

        <div class="absolute step-2-bg z-0 w-56 h-56">
          <div class="wavet-top">
            <svg viewBox="0 70 500 60" preserveAspectRatio="none">
              <defs>
                <linearGradient id="gradient1">
                  <stop class="stop1" offset="0%" />
                  <stop class="stop3" offset="100%" />
                </linearGradient>
                <style type="text/css">
                  <![CDATA[
                    .stop1 { stop-color: #E6FFFA; }
                    .stop3 { stop-color: #EBF4FF; }
                    ]]>
                </style>
              </defs>
              <rect
                x="0"
                y="0"
                width="500"
                height="500"
                style="stroke: none"
                fill="url(#gradient1)"
              />
              <path
                d="M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z"
                style="stroke: none"
              ></path>
            </svg>
          </div>
        </div>
        <div class="absolute step-1-title text-lg z-50">
          Erstellen ein Jobinserat
        </div>
        <img
          class="absolute reative z-30 step-2-image"
          src="~assets/images/undraw_about_me_wa29.svg"
        />
      </div>
      <div class="relative mt-80 h-96">
        <div class="absolute step-3-number z-50" style="">3.</div>
        <div class="absolute step-3-ellipse -z-10"></div>
        <div class="absolute step-1-title text-lg z-50">
          Wähle deinen neuen Mitarbeiter aus
        </div>
        <img
          class="absolute reative z-50 step-3-image"
          src="~assets/images/undraw_swipe_profiles1_i6mr.svg"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "Index2Page",
  layout: "default",
});
</script>

<style scoped>
.step-2-image {
  left: 4.2rem;
  top: 8.5rem;
}

.step-3-image {
  left: 5.2rem;
  top: 12.5rem;
}
</style>
